.main-title { 
    width: 800px;
    text-align: center;
}

h1 { 
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: deeppink;
    margin: 20px;
}

h2 {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    margin: 40px;
}

h3 {
    font-size:large ;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: green;
    margin: 20px; ; 
}

h4 {
    font-size: medium ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: orange;
    margin: 20px; ;
}

.style-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}